@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    padding: 40px 20px 80px;
    .primary_footerMenu {
        @include flex-center;
        h2 {
            font-size: 15px;
            font-weight: 700;
            padding: 5px 15px;
        }
    }
    .secondary_footerMenu {
        @include flex-center;
        h2 {
            font-size: 13px;
            font-weight: 400;
            padding: 5px 15px 10px;
        }
    }
    .copyright {
        @include flex-center;
        color: gray;
        font-size: 12px;
    }
}